
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service</title>
</head>
<body>
    <h1>Add New Customer Details</Details></h1>
    <form action="" method="POST">
    <label>NAME:</label>
    <input type="text" name="name" required>
    <label>AGE:</label>
    <input type="text" name="age" required>
    <label>GENDER:</label>
    <input type="text" name="gender" required>
    <label>CITY:</label>
    <input type="text" name="city" required>
    <input type="submit" value="update Details">
</form>
    
</body>
</html>
